{% extends 'score/base.html' %}
{% block content %}
<h1>Scoring App</h1>
<table>
<form method="post" action="{% url 'home' %}">
{% csrf_token %}
<tr><th>Name</th><th>Score</th><th>Action</th></tr>
{% if not form.instance.id %}
<tr>
  {% include 'score/save.html' %}
</tr>
{% endif %}
{% for score in scores %}
  <tr>
    {% if form.instance.id == score.id %}
    {% include 'score/save.html' %}
    {% else %}
    <td>{{ score.name }}</td>
    <td>{{ score.value }}</td>
    <td>
      <button formnovalidate name="edit" value="{{ score.id }}" class="btn btn-warning">Edit</button>
      <button formnovalidate name="delete" value="{{ score.id }}" class="btn btn-danger">Delete</button>
    </td>
    {% endif %}
  </tr>
{% endfor %}
</form>
</table>

{% endblock %}